/* burger-icon on tablet and mobile devices */
@media (max-width: 992px) {
  .burger-icon {
    cursor: pointer;
    transition-duration: var(--main-transition-duration);
    color: var(--primary-color-1st);
    order: 1;
  }

  .burger-icon:hover {
    opacity: 70%;
  }

  .burger-icon:active {
    border: 1px solid var(--primary-color-1st);
  }
}

/* navigation bar elements styles */
.nav-menu ul,
.user-actions ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu a,
.user-actions a {
  padding: 3px 7px;
  color: var(--primary-color-1st);
  font-weight: 500;
  font-size: 20px;
  transition: var(--main-transition-duration);
}

.nav-menu a:not(:global(.active)):hover,
.user-actions a:not(:global(.active)):hover {
  opacity: 70%;
}

.nav-menu a:active,
.nav-menu a:global(.active),
.user-actions a:global(.active) {
  color: #fff;
  background-color: var(--primary-color-1st);
}

.user-actions_cart:active {
  border: 1px solid var(--primary-color-1st);
}

/* change active colors on tablets and mobile devices */
@media (max-width: 991px) {
  .nav-menu a:active,
  .nav-menu a:global(.active) {
    color: var(--primary-color-1st);
    background-color: var(--primary-color-2nd);
  }
}

/* shopping-cart styles */
.user-actions_cart {
  position: relative;
  display: inline-block;
}

.user-actions_cart .items-count {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
}

/* show navigaiton-menu on tablets and mobile devices*/
@media (max-width: 991px) {
  .nav-menu {
    transform: translateX(100%);
    transition-duration: var(--main-transition-duration);
  }

  .nav-menu:global(.show) {
    transform: translateX(0);
  }

  .nav-menu {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color-1st);
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1000;
  }

  .nav-menu .close-menu {
    align-self: flex-end;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    font-weight: bold;
  }

  .nav-menu .close-menu:hover {
    color: var(--secondary-color-1st);
  }

  .nav-menu ul {
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .nav-menu li {
    transition-duration: var(--main-transition-duration);
  }

  .nav-menu li:hover {
    background-color: var(--secondary-color-4st);
  }

  .nav-menu a {
    display: block;
    padding: 10px;
    color: #fff;
    width: 100%;
  }

  .user-actions {
    order: 0;
  }
}

@media (min-width: 992px) {
  .burger-icon,
  .close-menu {
    display: none;
  }
}
