.card-testimomials {
  background-color: #fff;
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--main-radius);
}

.rating {
  color: #ebc351;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-text {
  color: var(--secondary-color-4th);
  line-height: 1.5;
  font-size: 15px;
}

.card-footer {
  align-self: end;
  display: flex;
  gap: 10px;
}

.reviewer-name {
  font-size: 19px;
  align-self: flex-end;
  color: var(--secondary-color-4th);
}

.reviewer-img {
  width: 62px;
  height: 62px;
  margin-right: -41px;
  margin-bottom: -34px;
  padding: 8px;
  background-color: var(--primary-color-1st);
  border-radius: 50%;
}
