.reservation-form-section {
  background-color: var(--primary-color-1st);
}

.reservation-form_title {
  font-family: "Karla", "sans-serif";
  color: var(--primary-color-2nd);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.reservation-form_inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

@media (max-width: 576px) {
  .reservation-form_inputs {
    flex-direction: column-reverse;
  }
}

.reservation-form_inputs > div {
  flex-basis: 45%;
}

.reservation-form_inputs label {
  color: var(--secondary-color-3rd);
}

.reservation-form_inputs .radio label {
  font-size: 24px;
}
.reservation-form_inputs .select label {
  font-size: 18px;
}

.reservation-form_inputs .radio {
  width: 170px;
}

@media (max-width: 576px) {
  .reservation-form_inputs .radio {
    justify-content: space-between;
  }
}

.reservation-form_inputs .radio input,
.reservation-form_inputs .radio label {
  cursor: pointer;
}

.reservation-form_inputs .select label {
  display: block;
}

.reservation-form_submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
