.reservation-form-section_inputs {
  background-color: var(--primary-color-1st);
}

.reservation-form_inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.reservation-form_submit {
  width: fit-content;
  margin: 20px auto;
}

/* First Step */
.reservation-form_title {
  font-family: "Karla", "sans-serif";
  color: var(--primary-color-2nd);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .reservation-form_inputs {
    flex-direction: column-reverse;
  }
}

.reservation-form_inputs > div {
  flex-basis: 45%;
}

.reservation-form_inputs label {
  color: var(--secondary-color-3rd);
  font-size: 20px;
}

.reservation-form_inputs .radio label {
  font-size: 24px;
}
.reservation-form_inputs .select label {
  font-size: 18px;
}

.required-asterisk {
  color: var(--secondary-color-1st);
}

.reservation-form_inputs .radio {
  width: 170px;
}

@media (max-width: 576px) {
  .reservation-form_inputs .radio {
    justify-content: space-between;
  }
}

.reservation-form_inputs .radio input,
.reservation-form_inputs .radio label {
  cursor: pointer;
}

.reservation-form_inputs .select label {
  display: block;
}

/* Second Step */
@media (max-width: 576px) {
  .reservation-form_inputs.second-step {
    flex-direction: column;
  }
}

.second-step-input {
  height: 40px;
}

.second-step-placeholder {
  resize: none;
  height: 100px;
}

.second-step-placeholder,
.second-step-input {
  display: block;
  width: 100%;
  margin-top: 3px;
  padding: 15px;
  border-radius: 6px;
  border: none;
  background-color: var(--secondary-color-3rd);
}

.second-step-input:focus:invalid {
  border: 2px solid var(--secondary-color-1st);
}

#first-step-values {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

@media (max-width: 576px) {
  #first-step-values {
    order: 2;
  }
}

.first-step-value {
  color: #fff;
  flex: 1 1 48%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

.warning {
  color: var(--secondary-color-1st);
}

@media (max-width: 576px) {
  .reservation-form_inputs.second-step > .radio {
    width: 100%;
    order: 3;
  }
}
