.specials-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-header h2 {
  font-size: 40px;
  font-weight: normal;
}

.specials-body {
  position: relative;
}

.specials-cards-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  gap: 19px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .specials-cards-container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .specials-cards-container {
    width: 80%;
  }
}

.specials-cards-container::-webkit-scrollbar {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition-duration: var(--main-transition-duration);
}
.arrow:hover {
  opacity: 50%;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}
