.custom-label {
  display: flex;
  align-items: center;
  gap: 20px;
}

.custom-radio {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
}

.custom-radio .inner-circle {
  background-color: #fff;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  transition-duration: var(--main-transition-duration);
}

.custom-radio .inner-circle--checked {
  width: 8px;
  height: 8px;
}

.custom-radio input[type="radio"] {
  appearance: none;
}
