.btn {
  display: block;
  width: 200px;
  height: 60px;
  align-content: center;
  text-align: center;
  font-family: "Karla", "sans-serif";
  font-size: 16px;
  font-weight: 600;
  border-radius: var(--main-radius);
  transition: var(--main-transition-duration);
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  color: #000;
  background-color: var(--primary-color-2nd);
}

.btn-primary:hover:not(:disabled) {
  opacity: 90%;
}

.btn-primary:active:not(:disabled) {
  background-color: var(--secondary-color-4th);
  color: #fff;
}

.btn:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
