.card-testimomials {
  background-color: #fff;
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  color: #ebc351;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-avatar {
  width: 67px;
  height: 46px;
  object-fit: cover;
}

.reviewer-name {
  font-size: 14px;
}

.card-review {
  color: var(--secondary-color-4th);
}
