:root {
  --primary-color-1st: #495057;
  --primary-color-2nd: #f4ce14;
  --secondary-color-1st: #ee9972;
  --secondary-color-2nd: #fbdabb;
  --secondary-color-3rd: #edefee;
  --secondary-color-4th: #333333;
  --main-transition-duration: 0.3s;
  --main-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Markazi Text", serif;
}

a {
  text-decoration: none;
}

p {
  font-family: "Karla", "sans-serif";
}

ul {
  list-style: none;
}
